{% extends 'navbar.html' %}
{% block content %}

<div class="container-lg vh-100" style="padding-top: 56px;">
    <div class="pb-5">
        <h2 class="text-center py-4 py-md-4 mx-3">Welcome {{ request.user }}</h2>
        <div class="d-flex justify-content-center">
          <form method="POST" class="form-cont mx-1">
            {% csrf_token %}
            {{ form.errors }}
              <div class="mb-3">
                <label class="fw-semibold form-label">StudentID</label>
                <input type="text" class="form-control" name="student_id" required>
              </div>
              
              
              <hr class="mt-0 mb-3">
              <div class="d-none d-md-block text-end">
                <button type="reset" class="btn btn-danger" style="width: 90px">Reset</button>
                <button type="submit" class="btn btn-success" style="width: 90px">Submit</button>
              </div>
              <div class="d-block d-md-none text-center pt-3">
                <button type="submit" class="btn btn-success w-50 mb-2">Submit</button>
                <button type="reset" class="btn btn-danger w-50 mb-2">Reset</button>
              </div>
          </form>
        </div>
    </div>
  </div>
{% endblock %}