{% extends 'navbar.html' %}

{% block content %}
<br></br>
<br></br>
<div class="container px-1 text-left">
    <div class="mx-2">
        <h4 class="mb-4">Please fill the given below details.</h4>
        <div class="mb-3">
            <label for="studentID" class="form-label"><h4>Name</h4></label>
            <input type="text" class="form-control" id="studentID" placeholder="Enter Your Name" >
        </div>
        <div class="mb-3">
            <label for="studentID" class="form-label"><h4>Student ID</h4></label>
            <input type="number" class="form-control" id="studentID" placeholder="Enter Student ID" >
        </div>
        <div class="mb-3">
            <label for="year" class="form-label"><h4>Program</h4></label>
            <select class="form-select" id="year">
                <option selected>Choose...</option>
                <option>B.Tech ICT</option>
                <option>B.Tech MnC</option>
                <option>B.Tech CS</option>
                <option>Masters</option>
            </select>
        </div>
        <div class="mb-3">
          <label for="year" class="form-label"><h4>Batch</h4></label>
          <select class="form-select" id="year">
              <option selected>Choose...</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
          </select>
        </div>
        
    </div>
  </div>
  <div class="container px-1 text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  
{% endblock %}