{% extends 'navbar.html' %}

{% block content %}
<br></br>
<br></br>
<div class="container-lg rounded">
    <div class="row mx-2">
        <h3 class="text-center mb-4">Elective Registration System DA-IICT</h3>
        <p>The Elective Registration System is designed to facilitate the selection and allotment of elective courses for students at DA-IICT. The system aims to streamline the process by allowing students to submit their course preferences and ensuring fair and efficient allotment based on predefined criteria.</p>
    </div>
</div>

<!-- <script src="script.js"></script> -->

{% endblock %}