{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<br><br>
<br><br>
<div class="container-lg align-items-center">
    <form method="POST" action="{% url 'PreferenceProcess' %}">
        {% csrf_token %}
        <div class="accordion" id="accordionExample">
            {% for slot, courses in courses_dict.items %}
                <div class="accordion-item">
                    <!-- <div  id="heading{{ slot }}"> -->
                        <h2 class="accordion-header">
                            {% if forloop.first %}
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ slot }}" aria-expanded="true" aria-controls="collapse{{ slot }}">
                                Slot {{ slot }}
                            </button>
                            {% else %}
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ slot }}" aria-expanded="false" aria-controls="collapse{{ slot }}">
                                Slot {{ slot }}
                            </button>
                            {% endif %}
                        </h2>
                    <!-- </div> -->
                    {% if forloop.first %}  
                    <div id="collapse{{ slot }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    {% else %}
                    <div id="collapse{{ slot }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    {% endif %}
                        <div class="accordion-body">
                            {% for pref in courses.1 %}
                                <h5>Preference {{ pref }}</h5>
                                <div class="form-group">
                                    <select class="form-control" id="slot{{ slot }}preference{{ pref }}" onchange="checkDuplicate(this)" name="slot{{ slot }}preference{{ pref }}">
                                        <option selected disabled value="">Choose Option</option>
                                        {% for openForInstance in courses.0 %}
                                            <option value="{{ openForInstance.pk }}">{{ openForInstance }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary mx-auto d-block">Submit Preferences</button>

    </form>
</div>

<script>
    function checkDuplicate(selectElement) {
        const selectedValue = selectElement.value;
        const allSelectElements = document.querySelectorAll('select');
        for (let i = 0; i < allSelectElements.length; i++) {
            if (allSelectElements[i] !== selectElement && allSelectElements[i].value === selectedValue) {
                alert('Same course cannot be chosen in two options');
                selectElement.value = '';
                break;
            }
        }
    }
</script>
{% endblock %}
